@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');


body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 36px;
}

.button:hover {
    background-color: rgb(100, 0, 0);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;

}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding-left: 5%;
    padding-right: 5%;

}

@media screen and (max-width: 768px) {
    .div {
        font-size: 24px;
    }

    .button {
        padding: 5px 10px;
        font-size: 24px;
    }
}

img {
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border: 8px solid white;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 36px 21px 45px 26px rgba(255, 255, 255, 0.66);
    -webkit-box-shadow: 36px 21px 45px 26px rgba(255, 255, 255, 0.66);
    -moz-box-shadow: 36px 21px 45px 26px rgba(255, 255, 255, 0.66);
}

@media  screen and (max-width: 768px) {
    .form-container {
        width: 90%;
        font-size: 18px;
        padding: 10px;
        border: 4px solid white;
        height: 600px;
        box-shadow: 16px 11px 25px 16px rgba(255, 255, 255, 0.66);
        -webkit-box-shadow: 16px 11px 25px 16px rgba(255, 255, 255, 0.66);
        -moz-box-shadow: 16px 11px 25px 16px rgba(255, 255, 255, 0.66);
    }
    
}

input {
    width: 80%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 8px;
}

label {
    font-size: 20px;
    width: 80px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-top: 15px;
}

.form-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}


.svg-icon {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .svg-icon {
        width: 25px;
        height: 25px;
    }

    .form-button {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        padding-top: 5px;
    }
}

.button1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button2 {
    font-size: 194px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .button2 {
        font-size: 96px;
        border-radius: 20px;
    }
}

.button3 {
    font-size: 36px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 44px;
}


/* === animation === */
.zoom {
    animation: zoomIn 1.2s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-img {
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.zoom-img:hover {
    transform: scale(1.1);
}

.button4 {
    font-size: 36px;
    border-radius: 20px;
    margin-top: 20px;
    /* font-size: 67px; */
}

@media screen and (max-width: 768px) {

    .button4 {
    margin-top: 20px;
    font-size: 24px;
    padding: 5px 10px;
}
}

.header_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playwrite-cz {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
}